*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}




html,body{
  height: 100%;
  width: 100%;
  display: flex;
}

img{
    height: 58vh;
    width: 47vw;
    margin: auto;
    display: flex;
    position: absolute;
    z-index: -2;
    transition:all .3s ease-in-out;
    max-width: 350px;
    max-height: 350px;

}

.main{
    height: 58vh;
    width: 47vw;
    margin: auto;
    overflow: hidden;
    border: 2px solid #091326;
    position: relative;
    max-width: 350px;
    max-height: 350px;
}


.card{
    text-align: center;
    color:white;
    height: 58vh;
    width: 47vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgb(9,19, 38,.5);
    /* display: none; */
    position: relative;
    top:-500px;
    transition:all .3s ease-out;
    padding: 0px 1vw;
    max-width: 350px;
    font-size: 1rem;
    max-height: 350px;
}

.card h3{
    font-family: 'Courier New', Courier, monospace;
    font-size:2em;
    margin:16px 0;

}

.card a{
    display: inline-block;
    text-decoration:none;
    color:white;
    background-color: #D9B70D;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    padding: 10px 0;
    margin-top:25px;
    font-size: 1em;
    
}

p{
    font-size: 1em;
}

.main:hover img{
  transform: scale(1.2);
}
.main:hover .card{
    display: flex;
    top:0px;
}

@media screen and (max-width:1024px) {
    
    .main{
        height: 40vh;
        width: 70vw;
    }
    .card{
        height: 40vh;
        width: 70vw;
    }

    img{
        height: 40vh;
        width: 70vw;
    }

    .card h3{
        
        font-size:1.8rem;
    }
    
}

@media  screen and (max-width:280px) {

    .card h3{
        
        font-size:1.3em;
    }

    .card a{
        font-size: 1em;
    }
    p{
        font-size: 1em;
    }
    
}