*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}
img{
    height: 300px;
    width: 300px;
    position: absolute;
    margin: auto;
    top: 24.3%;

}

img{
    opacity: ;
}

.card{
    text-align: center;
    color:white;
    height: 300px;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.div

.card h3{
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    margin:16px 0;
}

.card a{
    display: inline-block;
    text-decoration:none;
    color:white;
    background-color: #D9B70D;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    padding: 10px 0;
    margin:16px 0;
    
}