*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
  display: flex;
}

img{
    height: 337px;
    width: 298px;
    margin: auto;
    display: flex;
    position: absolute;
    z-index: -2;
    transition:all .3s ease-in-out;

}

.main{
    height: 337px;
    width: 300px;
    margin: auto;
    overflow: hidden;
    border: 2px solid #091326;
    position: relative;
}


.card{
    text-align: center;
    color:white;
    height: 337px;
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgb(9,19, 38,.5);
    /* display: none; */
    position: relative;
    top:-500px;
    transition:all .3s ease-out;
}

.card h3{
    font-family: 'Courier New', Courier, monospace;
    font-size:30px;
    margin:16px 0;
}

.card a{
    display: inline-block;
    text-decoration:none;
    color:white;
    background-color: #D9B70D;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    padding: 10px 0;
    margin-top:25px;
    
}

.main:hover img{
  transform: scale(1.2);
}
.main:hover .card{
    display: flex;
    top:0px;
}