*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width:100vw;
    background-image: url(butterfly-8401173_1280.webp);
    background-size:100vw 100vh;
    background-attachment: fixed;
}

.div{
    background-color: red;
    height: 300px;
    width: 300px;
    background-image: url(butterfly-8401173_1280.webp);
    background-size:100px;
    /* background-repeat: repeat-y; */
    /* background-repeat: repeat-x; */
    background-repeat: no-repeat;
    /* background-position:100px 100px; */
    background-position: left top;

    

}

